/*General Rules*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'imb-plex-sans';
}

/*afin que les images ne débordent jamais*/
img {
  max-width: 100%;
  max-height: 100%;
}

/*Header*/

.header-container {
  width: 1280px;
  margin: auto;
  padding: 10px 0;
}

.header-position {
  display: flex;
  align-items: center;
}

.header-container > div:first-child,
.header-logo {
  cursor: pointer;
  margin-right: 20px;
}

img.header-logo {
  width: 104px;
}

.search-input {
  width: 590px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-family: 'Maison Neue';
  font-size: 16px;
}

.container-sort {
  width: 632px;
}

.section-sort {
  width: 632px;
  margin-top: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.header-button {
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: 'Maison Neue';
  font-size: 12px;
  outline: none;
  margin: 20px;
  cursor: pointer;
}

.button-sold {
  background-color: #2cb1ba;
  color: #fff;
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: 'Maison Neue';
  font-size: 12px;
  outline: none;
  margin: 20px;
  cursor: pointer;
  margin-left: 35px;
}

/*Banner*/

.container-banner {
  background-image: url(../src/assets/banner_vinted.jpg);
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
}

.banner-buy {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: rgb(12, 76, 85);
  left: 17%;
  top: 17%;
  box-shadow: 0 0 2px rgb(17 17 17 / 24%);
}

/*Market*/

.container-market {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  justify-content: space-around;
}

.container-card {
  width: 235px;
  height: 500px;
  padding: 0 6px 16px;
  cursor: pointer;
  border: solid 2px;
}

/*Contenu de ma card*/
.container-title-card {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: red;
}

.container-image-card {
  width: 220px;
  height: 17px;
  padding: 0 6px 16px;
  cursor: pointer;
  background-color: green;
}

.container-price-card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: magenta;
}
