/*General Rules*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'imb-plex-sans';
}

/*afin que les images ne débordent jamais*/
img {
  max-width: 100%;
  max-height: 100%;
}
