.offer-body {
  height: calc(100vh - 60px);
  background-color: #ebedee;
}

.offer-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  grid-gap: 30px;
  gap: 30px;
  border-color: red;
}

.offer-picture {
  height: 600px;
  object-fit: cover;
}

.offer-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 390px;
  padding: 40px;
}

.offer-price {
  font-size: 24px;
  line-height: 32px;
  color: #111;
}

span.price {
  color: black;
}

.offer-list {
  list-style-type: none;
  padding: 0;
}

.offer-list li {
  display: flex;
  padding: 2px 0;
}

.li-left {
  color: #999;
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
}

.li-right {
  color: #666;
  font-weight: 700;
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
}

.offer-infos .border {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}

.offer-content .description {
  color: #666;
}

.offer-avatar-username {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.offer-content .name {
  font-weight: 700;
}

.offer-avatar-username > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

img {
  pointer-events: none;
}

.offer-infos button {
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
}
button,
input {
  outline: none;
}
button,
input[type='checkbox'] {
  cursor: pointer;
}

p.description {
  margin-top: 10px;
}
